<appSettings>
  <add key="IsCloudBased" value="false"/>
  <add key="AesEncryptDecryptKey" value="b14ca5898a4e4133bbce2ea2315a1916"/>
  <add key="ApiKeyAuthentication.ApiKey" value="89864797-265F-4697-AC92-4E2A3F9771F0"/>
  <add key="FilterEventsByUser" value=""/>
  <add key="DebugNotifications" value="Teams"/>
  
  <add key="CatalogUsername" value="admin"/>
  <add key="CatalogPassword" value="password"/>
  
  <add key="CatalogEvents" value="CheckinRuleApp OverwriteRuleApp"/>

  <add key="OnCheckinRuleApp" value="Teams"/>
  <add key="OnApplyLabel" value="Teams"/>
  <add key="OnCheckoutDefs" value="Teams"/>
  <add key="OnUndoCheckout" value="Teams"/>

  <add key="Teams.TeamsWebhookUrl" value="https://inrulechicago.webhook.office.com/webhookb2/07be91a0-8d54-4082-a09b-795f27d6510a@29d4c658-27b9-4a52-829d-f2dfe1cc7dfa/IncomingWebhook/30b7230435f24ee6a5d82c46b9a950cf/c8263f97-a31d-4c26-a120-c0574f170f04"/>

  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>

</appSettings>
