<appSettings>
  <add key="IsCloudBased" value="false"/>
  <add key="AesEncryptDecryptKey" value="b14ca5898a4e4133bbce2ea2315a1916"/>
  <add key="ApiKeyAuthentication.ApiKey" value="89864797-265F-4697-AC92-4E2A3F9771F0"/>
  <add key="FilterEventsByUser" value=""/>
  <add key="DebugNotifications" value=""/>
  
  <add key="CatalogUsername" value="admin"/>
  <add key="CatalogPassword" value="password"/>
  
  <add key="CatalogEvents" value="CheckinRuleApp OverwriteRuleApp"/>

  <add key="OnCheckinRuleApp" value=""/>
  <add key="OnApplyLabel" value=""/>
  <add key="OnCheckoutDefs" value=""/>
  <add key="OnUndoCheckout" value=""/>

  <add key="Teams.TeamsWebhookUrl" value=""/>

  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>

</appSettings>
