﻿<appSettings>
	<add key="CatalogUsername" value="admin"/>
	<add key="CatalogPassword" value="password"/>

	<add key="CatalogEvents" value="CheckinRuleApp ApplyLabel OverwriteRuleApp CreateRuleApp CheckoutDefs UndoCheckout CreateLabel DeleteRuleApp RemoveLabel RenameLabel"/>

	<add key="OnCheckinRuleApp" value=""/>
	<add key="OnApplyLabel" value=""/>
	<add key="OnCheckoutDefs" value=""/>
	<add key="OnUndoCheckout" value=""/>

	<add key="AppInsights.AppInsightsInstrumentationKey" value=""/>

	<add key="Sql.DatabaseConnectionString" value=""/>

	<add key="EventGrid.EventGridTopicEndpoint" value=""/>
	<add key="EventGrid.EventGridTopicKey" value=""/>

	<add key="Slack.SlackWebhookUrl" value=""/>

	<add key="Teams.TeamsWebhookUrl" value=""/>

	<add key="Email.SendGridApiKey" value=""/>
	<add key="Email.EmailSendFrom" value=""/>
	<add key="Email.EmailSendFromName" value=""/>
	<add key="Email.EmailSendTo" value=""/>
	<add key="Email.EmailSendToName" value=""/>

	<add key="TestSuite.TestSuitesPath" value=""/>
	<add key="TestSuite.TestSuitesResultsPath" value=""/>
	<add key="TestSuite.TestSuiteGitHub" value=""/>
	<add key="TestSuite.NotificationChannel" value=""/>
	<add key="TestSuite.UploadTo" value=""/>

	<add key="Java.JavaDistributionApiKey" value=""/>
	<add key="Java.JavaDistributionUri" value=""/>
	<add key="Java.JavaDistributionInPath" value=""/>
	<add key="Java.JavaDistributionOutPath" value=""/>
	<add key="Java.NotificationChannel" value=""/>
	<add key="Java.UploadTo" value=""/>

	<add key="JavaScript.JavaScriptDistributionApiKey" value=""/>
	<add key="JavaScript.JavaScriptDistributionUri" value=""/>
	<add key="JavaScript.JavaScriptDistributionOutPath" value=""/>
	<add key="JavaScript.NotificationChannel" value=""/>
	<add key="JavaScript.UploadTo" value=""/>
	<add key="JavaScript.JscramblerEnable" value="true"/>

	<add key="ServiceBus.ServiceBusConnectionString" value=""/>
	<add key="ServiceBus.ServiceBusQueue" value=""/>
	<add key="ServiceBus.ServiceBusTopic" value=""/>
	<add key="ServiceBus.NotificationChannel" value=""/>

	<add key="DevOps.DevOpsOrganization" value=""/>
	<add key="DevOps.DevOpsProject" value=""/>
	<add key="DevOps.DevOpsPipelineID" value=""/>
	<add key="DevOps.DevOpsToken" value=""/>

	<add key="ApprovalFlow.ApplyLabelApprover" value=""/>
	<add key="ApprovalFlow.NotificationChannel" value=""/>

	<add key="GitHub.GitHubRepo" value=""/>
	<add key="GitHub.GitHubFolder" value=""/>
	<add key="GitHub.GitHubProductName" value=""/>
	<add key="GitHub.GitHubProductVersion" value=""/>
	<add key="GitHub.GitHubToken" value=""/>

	<add key="Box.BoxClientId" value=""/>
	<add key="Box.BoxClientSecret" value=""/>
	<add key="Box.BoxUploadFolderID" value=""/>
	<add key="Box.BoxDeveloperToken" value=""/>

	<add key="RuleAppReport.NotificationChannel" value=""/>
	<add key="RuleAppReport.UploadTo" value=""/>

	<add key="RuleAppDiffReport.NotificationChannel" value=""/>
	<add key="RuleAppDiffReport.UploadTo" value=""/>

	<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
</appSettings>