    <add key="CatalogEvents" value="CheckinRuleApp"/>
    <add key="OnCheckinRuleApp" value="Barium"/>
  
    <add key="Barium.Host" value="************************************************"/>
    <add key="Barium.APIVersion" value="v1.0"/>
    <add key="Barium.Username" value="C:\Temp\"/>
    <add key="Barium.Password" value="C:\Temp\"/>
    <add key="Barium.Apikey" value="Slack"/>
    <add key="Barium.Webticket" value="GitHub"/>

    <add key="Barium.CreateInstance" value="true"/>
	<add key="Barium.CreateInstance.Template" value="form"/>
	<add key="Barium.CreateInstance.Message" value="START"/>
	<add key="Barium.CreateInstance.ProcessName" value="IntegrationTesting"/>