<appSettings>
  <add key="IsCloudBased" value="false"/>
  <add key="AesEncryptDecryptKey" value="*************************"/>
  <add key="FilterEventsByUser" value="admin marian"/>
  <add key="DebugNotifications" value="MySlack"/>
  
  <add key="CatalogUsername" value="admin"/>
  <add key="CatalogPassword" value="********"/>
  
  <add key="CatalogEvents" value="CheckinRuleApp ApplyLabel CheckoutDefs UndoCheckout"/>

  <add key="OnCheckinRuleApp" value="MySlack"/>
  <add key="OnApplyLabel" value="MySlack
  <add key="OnCheckoutDefs" value="Slack"/>
  <add key="OnUndoCheckout" value="Slack"/>
  
  <add key="Slack.SlackWebhookUrl" value="https://hooks.slack.com/services/xxxxxxxxx/xxxxxxxx/xxxxxxxxxxxxxxxxxxx https://hooks.slack.com/services/yyyyyyyyy/yyyyyyyy/yyyyyyyyyyyyyyyyyyy"/>
  
  <add key="MySlack.Type" value="Slack"/>
  <add key="MySlack.SlackWebhookUrl" value="https://hooks.slack.com/services/zzzzzzzzz/zzzzzzzzzzzzzzzzzzzzz" />
</appSettings>
