<appSettings>
  <add key="IsCloudBased" value="false"/>
  <add key="AesEncryptDecryptKey" value="*************************"/>
  <add key="FilterEventsByUser" value="admin marian"/>
  <add key="DebugNotifications" value="Teams"/>
  
  <add key="CatalogUsername" value="admin"/>
  <add key="CatalogPassword" value="********"/>
  
  <add key="CatalogEvents" value="CheckinRuleApp ApplyLabel CheckoutDefs UndoCheckout"/>

  <add key="OnCheckinRuleApp" value="MyTeams"/>
  <add key="OnApplyLabel" value="MyTeams"/>
  <add key="OnCheckoutDefs" value="Teams"/>
  <add key="OnUndoCheckout" value="Teams"/>
  
  <add key="MyTeams.Type" value="Teams"/>
  <add key="MyTeams.TeamsWebhookUrl" value="https://://**********.webhook.office.com/webhookb2/xxxxxxxxxxxxxxxxxxx@yyyyyyyyyyyyyyyyy/IncomingWebhook/zzzzzzzzzzzzzzzzzzzzzzz/wwwwwwwwwwwwwwwwwwwww"/>

  <add key="Teams.TeamsWebhookUrl" value="https://://**********.webhook.office.com/webhookb2/xxxxxxxxxxxxxxxxxxx@yyyyyyyyyyyyyyyyy/IncomingWebhook/zzzzzzzzzzzzzzzzzzzzzzz/wwwwwwwwwwwwwwwwwwwww"/>
    
</appSettings>
