<appSettings>
  <add key="IsCloudBased" value="false"/>
  <add key="AesEncryptDecryptKey" value="*************************"/>
  <add key="FilterEventsByUser" value="admin marian"/>
  <add key="DebugNotifications" value="Slack"/>
  
  <add key="CatalogUsername" value="admin"/>
  <add key="CatalogPassword" value="********"/>
  
  <add key="CatalogEvents" value="CheckinRuleApp"/>

  <add key="OnCheckinRuleApp" value="JavaScript"/>
  
  <add key="JavaScript.JavaScriptDistributionApiKey" value="***************************"/>
  <add key="JavaScript.JavaScriptDistributionUri" value="https://api.distribution.inrule.com/"/>
  <add key="JavaScript.JavaScriptDistributionOutPath" value="C:\Temp\"/>
  <add key="JavaScript.NotificationChannel" value="Slack"/>
  <add key="JavaScript.UploadTo" value="GitHub"/>
</appSettings>
