<appSettings>
  <add key="IsCloudBased" value="false"/>
  <add key="AesEncryptDecryptKey" value="*************************"/>
  <add key="FilterEventsByUser" value="admin marian"/>
  <add key="DebugNotifications" value="Slack"/>
  
  <add key="CatalogUsername" value="admin"/>
  <add key="CatalogPassword" value="********"/>
  
  <add key="CatalogEvents" value="CheckinRuleApp"/>

  <add key="OnCheckinRuleApp" value="RuleAppReport"/>
  
  <add key="RuleAppReport.NotificationChannel" value="Slack MyEmail"/>
  <add key="RuleAppReport.UploadTo" value="GitHub"/>
  
  <add key="Slack.SlackWebhookUrl" value="https://hooks.slack.com/services/xxxxxxxxx/xxxxxxxx/xxxxxxxxxxxxxxxxxxx https://hooks.slack.com/services/yyyyyyyyy/yyyyyyyy/yyyyyyyyyyyyyyyyyyy"/>
  
  <add key="Email.SendGridApiKey" value="SG.************************************"/>
  <add key="Email.EmailSendFrom" value="inrulecicd@contoso.com"/>
  <add key="Email.EmailSendFromName" value="InRule CI/CD"/>
  <add key="Email.EmailSendTo" value="jane.doe@contoso.com"/>
  <add key="Email.EmailSendToName" value="Jane Doe"/>
  
  <add key="GitHub.GitHubRepo" value="*******/ProjectCICD"/>
  <add key="GitHub.GitHubFolder" value="RuleAppReports"/>
  <add key="GitHub.GitHubProductName" value="MyApplication"/>
  <add key="GitHub.GitHubProductVersion" value="1"/>
  <add key="GitHub.GitHubToken" value="******************************"/>
</appSettings>
