<appSettings>
  <add key="IsCloudBased" value="false"/>
  <add key="AesEncryptDecryptKey" value="*************************"/>
  <add key="FilterEventsByUser" value="admin"/>
  <add key="DebugNotifications" value="Slack"/>
  
  <add key="CatalogUsername" value="admin"/>
  <add key="CatalogPassword" value="********"/>
  
  <add key="CatalogEvents" value="CheckinRuleApp"/>

  <add key="OnCheckinRuleApp" value="Java"/>
  
  <add key="Java.JavaDistributionApiKey" value="************************************************"/>
  <add key="Java.JavaDistributionUri" value="https://ir-distributionapi-prod-ncus-fa.azurewebsites.net/api/"/>
  <add key="Java.JavaDistributionInPath" value="C:\Temp\"/>
  <add key="Java.JavaDistributionOutPath" value="C:\Temp\"/>
  <add key="Java.NotificationChannel" value="Slack"/>
  <add key="Java.UploadTo" value="GitHub MyGitHub"/>

  <add key="GitHub.GitHubRepo" value="InRule/CICD"/>
  <add key="GitHub.GitHubFolder" value="JARs"/>
  <add key="GitHub.GitHubProductName" value="MyApplication"/>
  <add key="GitHub.GitHubProductVersion" value="1"/>
  <add key="GitHub.GitHubToken" value="ghp_xxxxxxxxxxxxxxxxxxxxxxxxx"/>

  <add key="MyGitHub.Type" value="GitHub"/>
  <add key="MyGitHub.GitHubRepo" value="InRule/ProjectCICD"/>
  <add key="MyGitHub.GitHubFolder" value="Backup"/>
  <add key="MyGitHub.GitHubProductName" value="MyApplication"/>
  <add key="MyGitHub.GitHubProductVersion" value="1"/>
  <add key="MyGitHub.GitHubToken" value="ghp_xxxxxxxxxxxxxxxxxxxxxxxxx"/>
</appSettings>
