<appSettings>
  <add key="IsCloudBased" value="false"/>
  <add key="AesEncryptDecryptKey" value="*************************"/>
  <add key="FilterEventsByUser" value="admin"/>
  <add key="DebugNotifications" value="MyEmail"/>
  
  <add key="CatalogUsername" value="admin"/>
  <add key="CatalogPassword" value="********"/>
  
  <add key="CatalogEvents" value="CheckinRuleApp ApplyLabel CheckoutDefs UndoCheckout"/>

  <add key="OnCheckinRuleApp" value="MyEmail"/>
  <add key="OnApplyLabel" value="MyEmail"/>
  <add key="OnCheckoutDefs" value="Email"/>
  <add key="OnUndoCheckout" value="Email"/>
  
  <add key="Email.SendGridApiKey" value="SG.************************************"/>
  <add key="Email.EmailSendFrom" value="inrulecicd@contoso.com"/>
  <add key="Email.EmailSendFromName" value="InRule CI/CD"/>
  <add key="Email.EmailSendTo" value="jane.doe@contoso.com"/>
  <add key="Email.EmailSendToName" value="Jane Doe"/>
  
  <add key="MyEmail.Type" value="Email"/>
  <add key="MyEmail.SendGridApiKey" value="SG.************************************"/>
  <add key="MyEmail.EmailSendFrom" value="inrulecicd@contoso.com"/>
  <add key="MyEmail.EmailSendFromName" value="InRule CI/CD"/>
  <add key="MyEmail.EmailSendTo" value="john.doe@contoso.com"/>
  <add key="MyEmail.EmailSendToName" value="John Doe"/>
</appSettings>
