<appSettings>
  <add key="IsCloudBased" value="false"/>
  <add key="AesEncryptDecryptKey" value="*************************"/>
  <add key="FilterEventsByUser" value="admin"/>
  <add key="DebugNotifications" value="Slack"/>
  
  <add key="CatalogUsername" value="admin"/>
  <add key="CatalogPassword" value="********"/>
  
  <add key="CatalogEvents" value="CheckinRuleApp"/>

  <add key="OnCheckinRuleApp" value="Java"/>
  
  <add key="Java.JavaDistributionApiKey" value="************************************************"/>
  <add key="Java.JavaDistributionUri" value="https://ir-distributionapi-prod-ncus-fa.azurewebsites.net/api/"/>
  <add key="Java.JavaDistributionInPath" value="C:\Temp\"/>
  <add key="Java.JavaDistributionOutPath" value="C:\Temp\"/>
  <add key="Java.NotificationChannel" value="Slack"/>
  <add key="Java.UploadTo" value="GitHub"/>
</appSettings>
