<appSettings>
  <add key="IsCloudBased" value="false"/>
  <add key="AesEncryptDecryptKey" value="*************************"/>
  <add key="FilterEventsByUser" value="admin"/>
  <add key="DebugNotifications" value="Slack"/>
  
  <add key="CatalogUsername" value="admin"/>
  <add key="CatalogPassword" value="********"/>
  
  <add key="CatalogEvents" value="CheckinRuleApp"/>

  <add key="OnCheckinRuleApp" value="DevOps"/>

  <add key="DevOps.DevOpsOrganization" value="Contoso"/>
  <add key="DevOps.DevOpsProject" value="InRule"/>
  <add key="DevOps.DevOpsPipelineID" value="1"/>
  <add key="DevOps.DevOpsToken" value="*********************"/>
</appSettings>
