<appSettings>
  <add key="IsCloudBased" value="false"/>
  <add key="AesEncryptDecryptKey" value="*************************"/>
  <add key="FilterEventsByUser" value="admin"/>
  <add key="DebugNotifications" value="Slack"/>
  
  <add key="CatalogUsername" value="admin"/>
  <add key="CatalogPassword" value="********"/>
  
  <add key="CatalogEvents" value="CheckinRuleApp"/>

  <add key="OnCheckinRuleApp" value="EventGrid"/>
  
  <add key="EventGrid.EventGridTopicEndpoint" value="https://*******.westeurope-1.eventgrid.azure.net/api/events"/>
  <add key="EventGrid.EventGridTopicKey" value="********************************"/>
</appSettings>
